CREATE TABLE categories (idCategory INT AUTO_INCREMENT NOT NULL, name VARCHAR(255) NOT NULL, PRIMARY KEY(idCategory)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE comments (idComment INT AUTO_INCREMENT NOT NULL, username VARCHAR(255) NOT NULL, date DATETIME NOT NULL, content VARCHAR(150) NOT NULL, score INT NOT NULL, idProduct INT DEFAULT NULL, INDEX IDX_5F9E962AC3F36F5F (idProduct), PRIMARY KEY(idComment)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE `order` (idOrder INT AUTO_INCREMENT NOT NULL, dateOrder DATETIME NOT NULL, dateDelivery DATETIME DEFAULT NULL, rateTPS DOUBLE PRECISION NOT NULL, rateTVQ DOUBLE PRECISION NOT NULL, shippingCost DOUBLE PRECISION NOT NULL, state VARCHAR(20) NOT NULL, stripeIntent VARCHAR(255) DEFAULT NULL, subTotalPrice DOUBLE PRECISION NOT NULL, totalPrice DOUBLE PRECISION NOT NULL, idUser INT DEFAULT NULL, INDEX IDX_F5299398FE6E88D7 (idUser), PRIMARY KEY(idOrder)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE products (idProduct INT AUTO_INCREMENT NOT NULL, name VARCHAR(255) NOT NULL, price DOUBLE PRECISION NOT NULL, quantityInStock INT NOT NULL, description VARCHAR(2000) NOT NULL, imagePath1 VARCHAR(255) NOT NULL, imagePath2 VARCHAR(255) NOT NULL, imagePath3 VARCHAR(255) NOT NULL, idCategory INT NOT NULL, INDEX IDX_B3BA5A5A55EF339A (idCategory), PRIMARY KEY(idProduct)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE productions (idProduction INT AUTO_INCREMENT NOT NULL, productTimeStamp INT NOT NULL, productNumber INT NOT NULL, productChef VARCHAR(40) NOT NULL, idProduct INT DEFAULT NULL, INDEX IDX_BBD7C0C2C3F36F5F (idProduct), PRIMARY KEY(idProduction)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE purchases (idPurchase INT AUTO_INCREMENT NOT NULL, quantity INT NOT NULL, priceForOne DOUBLE PRECISION NOT NULL, idProduct INT NOT NULL, idOrder INT DEFAULT NULL, INDEX IDX_AA6431FEC3F36F5F (idProduct), INDEX IDX_AA6431FEE2EDD085 (idOrder), PRIMARY KEY(idPurchase)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE user (idUser INT AUTO_INCREMENT NOT NULL, email VARCHAR(180) NOT NULL, roles LONGTEXT NOT NULL COMMENT '(DC2Type:json)', lastName VARCHAR(255) NOT NULL, firstName VARCHAR(255) NOT NULL, password VARCHAR(255) NOT NULL, address VARCHAR(255) NOT NULL, city VARCHAR(255) NOT NULL, postalcode VARCHAR(255) NOT NULL, province VARCHAR(255) NOT NULL, phone VARCHAR(255) NOT NULL, UNIQUE INDEX UNIQ_8D93D649E7927C74 (email), PRIMARY KEY(idUser)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE messenger_messages (id BIGINT AUTO_INCREMENT NOT NULL, body LONGTEXT NOT NULL, headers LONGTEXT NOT NULL, queue_name VARCHAR(190) NOT NULL, created_at DATETIME NOT NULL, available_at DATETIME NOT NULL, delivered_at DATETIME DEFAULT NULL, INDEX IDX_75EA56E0FB7336F0 (queue_name), INDEX IDX_75EA56E0E3BD61CE (available_at), INDEX IDX_75EA56E016BA31DB (delivered_at), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
ALTER TABLE comments ADD CONSTRAINT FK_5F9E962AC3F36F5F FOREIGN KEY (idProduct) REFERENCES products (idProduct);
ALTER TABLE `order` ADD CONSTRAINT FK_F5299398FE6E88D7 FOREIGN KEY (idUser) REFERENCES user (idUser);
ALTER TABLE products ADD CONSTRAINT FK_B3BA5A5A55EF339A FOREIGN KEY (idCategory) REFERENCES categories (idCategory);
ALTER TABLE productions ADD CONSTRAINT FK_BBD7C0C2C3F36F5F FOREIGN KEY (idProduct) REFERENCES products (idProduct);
ALTER TABLE purchases ADD CONSTRAINT FK_AA6431FEC3F36F5F FOREIGN KEY (idProduct) REFERENCES products (idProduct);
ALTER TABLE purchases ADD CONSTRAINT FK_AA6431FEE2EDD085 FOREIGN KEY (idOrder) REFERENCES `order` (idOrder);
