<div class="footer">
        <div>
            @BoulangerieFDO
            <br>
            2023
        </div>
        <div>
            Disclaimer
            <br>
            Ceci est un site pédagoquide!
        </div>
        <div>
            Nous contacter:
            <br>
            BoulFDO@BoulangerieFDO.ca
        </div>
    </div>